## API CALL FOR DATASET

In [39]:
# Loading libraries for API call
import numpy as np
import pandas as pd
import pyflux as pf
from scipy.optimize import minimize
from pandas_datareader import DataReader
from datetime import datetime

# One year data for P&G:
PG = DataReader('PG',  'yahoo', datetime(2019,1,1), datetime(2019,12,31));

# Avergae of opening and closing:
avg = list()
for i in range(len(PG)):
    avg = (PG["Open"] + PG["Close"])/2
PG["Average"] = avg

# Required Dataset: 
PG.head()

,High,Low,Open,Close,Volume,Adj Close,Average
Date,,,,,,,
2019-01-02,91.389999,89.930000,91.029999,91.279999,9843900.0,88.258690,91.154999
2019-01-03,92.500000,90.379997,90.940002,90.639999,9820200.0,87.639870,90.790001
2019-01-04,92.489998,90.370003,90.839996,92.489998,10565700.0,89.428635,91.664997
2019-01-07,92.500000,91.400002,91.910004,92.120003,9012500.0,89.070892,92.015003
2019-01-08,93.089996,91.820000,92.699997,92.459999,9551300.0,89.399635,92.579998